* {
  margin: 0;
}

#background {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('background.jpg');
}

.btn-group-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
